<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/styles/bootstrap.min.css">
<link rel="stylesheet" href="/static/styles/bootstrap-theme.min.css">
<style>
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {background-color: #f5f5f5;}
.tab-content {position:relative}
.tab-content pre {border-top-left-radius: 0;border-top: none; border-color: #ddd;}
.tab-content .btn-update-mock {position:absolute; right:0; top:-35px;}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger {
    border-left-color: #ce4844;
}
.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout-warning h4 {
    color: #aa6708;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
</style>
