<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php include APPLICATION_VIEWS_PATH . '/common/page_head.html';?>
<title>Control Panel</title>
</head>
<body>
<?php include APPLICATION_VIEWS_PATH . '/common/page_topbar.html';?>
<div class="container">
    <h1>Mock Uri List</h1>
    <hr />
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Mock Uri</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($list as $uri) :?>
        <tr>
          <th scope="row"><?php echo $uri['id']?></th>
          <td><?php echo $uri['uri']?></td>
          <td><a href="/mock/list?id=<?php echo $uri['id']?>" class="btn btn-primary btn-xs">View</a></td>
        </tr>
        <?php endforeach;?>
      </tbody>
    </table>
</div>
<?php include APPLICATION_VIEWS_PATH . '/common/page_footscript.html';?>
</body>
</html>
