<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php include APPLICATION_VIEWS_PATH . '/common/page_head.html';?>
<title>Control Panel</title>
</head>
<body>
<?php include APPLICATION_VIEWS_PATH . '/common/page_topbar.html';?>
<div class="container">
    <h1>
        <a href="/" class="pull-right btn btn-default btn-sm">Back to List</a>
        <a href="/mock/create?uri_id=<?php echo $uri_id?>" style="margin-right:10px;" class="pull-right btn btn-primary btn-sm">Create One</a>
        Mock Response List</h1>
    <hr />
    <div class="bs-callout bs-callout-danger" id="callout-tables-striped-ie8">
        <h4>List mock responses for &lt;<mark><?php echo $uri;?></mark>&gt;</h4>
        <p>Please test the example which in panel.</p>
    </div>
        <h3></h3>
    </blockquote>

    <?php foreach ($list as $mock) :?>
    <ul data-role="tab" class="nav nav-tabs">
        <li class="active"><a href="#http-<?php echo $mock['id']?>" data-toggle="tab">HTTP Protocol</a></li>
        <li class=""><a href="#curl-<?php echo $mock['id']?>" data-toggle="tab">Curl</a></li>
        <li class=""><a href="#php-<?php echo $mock['id']?>" data-toggle="tab">PHP</a></li>
    </ul>
    <div class="tab-content">
        <a href="/mock/update?id=<?php echo $mock['id']?>" class="btn btn-warning btn-sm btn-update-mock">Edit</a>
        <div class="tab-pane fade active in" id="http-<?php echo $mock['id']?>">
<pre><?php echo $mock['output_http'];?></pre>
        </div>
        <div class="tab-pane fade" id="curl-<?php echo $mock['id']?>">
<pre><?php echo $mock['output_curl'];?></pre>
        </div>
        <div class="tab-pane fade" id="php-<?php echo $mock['id']?>">
<pre><?php echo $mock['output_php'];?></pre>
        </div>
    </div>
    <?php endforeach;?>
</div>
<?php include APPLICATION_VIEWS_PATH . '/common/page_footscript.html';?>
</body>
</html>
