<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php include APPLICATION_VIEWS_PATH . '/common/page_head.html';?>
<title>Control Panel</title>
</head>
<body>
<?php include APPLICATION_VIEWS_PATH . '/common/page_topbar.html';?>
<div class="container">
    <h1>
      <a href="/mock/list?id=<?php echo $uri_id?>" class="pull-right btn btn-default btn-sm">Back to List</a>
      <a href="/mock/create" style="margin-right:10px;" class="pull-right btn btn-primary btn-sm">Create One</a>Edit Mock Response</h1>
    <hr />
    <form class="form-horizontal" method="post" id="form-mock">
      <input type="hidden" name="id" value="<?php echo $id?>" />
      <div class="form-group">
        <label for="txt-uri" class="col-sm-2 control-label">Uri</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="txt-uri" name="uri" placeholder="Like: /api/singleproduction/info" value="<?php echo $uri?>">
        </div>
      </div>
      <div class="form-group">
        <label for="txt-timeout" class="col-sm-2 control-label">Timeout</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="txt-timeout" name="timeout" placeholder="Timeout: 2000ms" value="<?php echo $timeout?>">
        </div>
      </div>

      <?php $idx = 0;
      if (empty($request_query)) $request_query=[""=>""];
      foreach($request_query as $key => $mixed): 
        if ( ! is_array($mixed) )
          $mixed = [$mixed];

        foreach ($mixed as $value) :
      ?>
      <div <?php if ( ! $idx ) :?>id="div-request-query"<?php endif;?> class="form-group">
        <label for="txt-request-query" class="col-sm-2 control-label"><?php if ( ! $idx ) :?>Request Query<?php endif;?></label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="request_query_key[]" <?php if ( ! $idx ) :?>id="txt-request-query"<?php endif;?> placeholder="Key" value="<?php echo $key?>">
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="request_query_value[]" placeholder="Value" value="<?php echo $value?>">
        </div>
        <?php if ( ! $idx ) :?>
        <div class="col-sm-2">
          <a id="btn-add-request-query" class="btn btn-primary">Add One</a>
        </div>
        <?php endif;?>
      </div>
      <?php $idx++; endforeach;?>
      <?php endforeach;?>

      <?php 
      $idx = 0;
      if (empty($request_post)) $request_post=[""=>""]; 
      foreach($request_post as $key => $mixed): 
        if ( ! is_array($mixed) )
          $mixed = [$mixed];

        foreach ($mixed as $value) :
      ?>
      <div <?php if ( ! $idx ) :?>id="div-request-post"<?php endif;?> class="form-group">
        <label for="txt-request-post" class="col-sm-2 control-label"><?php if ( ! $idx ) :?>Request Post<?php endif;?></label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="request_post_key[]" <?php if ( ! $idx ) :?>id="txt-request-post"<?php endif;?> placeholder="Key" value="<?php echo $key?>">
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="request_post_value[]" placeholder="Value" value="<?php echo $value?>">
        </div>
        <?php if ( ! $idx ) :?>
        <div class="col-sm-2">
          <a id="btn-add-request-post" class="btn btn-primary">Add One</a>
        </div>
        <?php endif;?>
      </div>
      <?php $idx++; endforeach;?>
      <?php endforeach;?>

      <div class="form-group">
        <label for="txt-response-status-code" class="col-sm-2 control-label">Response Status Code</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="txt-response-status-code" name="response_status_code" placeholder="200" value="<?php echo $response_status_code?>">
        </div>
      </div>
      <?php 
      $idx = 0;
      if (empty($response_header)) $response_header=[""=>""];
      foreach($response_header as $key => $mixed): 
        if ( ! is_array($mixed) )
          $mixed = [$mixed];

        foreach ($mixed as $value) :
      ?>
      <div <?php if ( ! $idx ) :?>id="div-response-header"<?php endif;?> class="form-group">
        <label for="txt-response-header" class="col-sm-2 control-label"><?php if ( ! $idx ) :?>Response Header<?php endif;?></label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="response_header_key[]" <?php if ( ! $idx ) :?>id="txt-response-header"<?php endif;?> placeholder="Key" value="<?php echo $key?>">
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="response_header_value[]" placeholder="Value" value="<?php echo $value?>">
        </div>
        <?php if ( ! $idx ) :?>
        <div class="col-sm-2">
          <a id="btn-add-response-header" class="btn btn-primary">Add One</a>
        </div>
        <?php endif;?>
      </div>
      <?php $idx++; endforeach;?>
      <?php endforeach;?>

      <div class="form-group">
        <label for="txt-response-body" class="col-sm-2 control-label">Response Body</label>
        <div class="col-sm-6">
          <textarea class="form-control" rows="4" id="txt-response-body" name="response_body" placeholder='Like: {"username": "jerry"}'><?php echo $response_body;?></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" id="btn-submit-save" class="btn btn-default">Save</button>
        </div>
      </div>
    </form>
</div>
<?php include APPLICATION_VIEWS_PATH . '/common/page_footscript.html';?>
</script>
</body>
</html>
