<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/styles/bootstrap.min.css">
<link rel="stylesheet" href="/static/styles/bootstrap-theme.min.css">
<title>Control Panel</title>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Control Panel</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <h2>Mock Server List</h2>
    </div>
    <div>
      <a href="/mock/list?id=<?php echo $uri_id?>" class="pull-right btn btn-default btn-sm">Back to List</a>
      <h3>Edit mock response.</h3>
    </div>
    <form class="form-horizontal" method="post" action="/mock/savemockresponse">
      <input type="hidden" name="id" value="<?php echo $id?>" />
      <div class="form-group">
        <label for="txt-uri" class="col-sm-2 control-label">Uri</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="txt-uri" name="uri" placeholder="Like: /api/singleproduction/info" value="<?php echo $uri?>">
        </div>
      </div>
      <div class="form-group">
        <label for="txt-timeout" class="col-sm-2 control-label">Timeout</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="txt-timeout" name="timeout" placeholder="Timeout: 2000ms" value="<?php echo $timeout?>">
        </div>
      </div>

      <?php $idx = 0;if (empty($request_query)) $request_query=[""=>""];foreach($request_query as $key => $value): ?>
      <div <?php if ( ! $idx ) :?>id="div-request-query"<?php endif;?> class="form-group">
        <label for="txt-request-query" class="col-sm-2 control-label"><?php if ( ! $idx ) :?>Request Query<?php endif;?></label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="request_query_key[]" <?php if ( ! $idx ) :?>id="txt-request-query"<?php endif;?> placeholder="Key" value="<?php echo $key?>">
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="request_query_value[]" placeholder="Value" value="<?php echo $value?>">
        </div>
        <?php if ( ! $idx ) :?>
        <div class="col-sm-2">
          <a id="btn-add-request-query" class="btn btn-primary">Add One</a>
        </div>
        <?php endif;?>
      </div>
      <?php $idx++; endforeach;?>

      <?php 
      $idx = 0;
      if (empty($request_post)) $request_post=[""=>""]; 
      foreach($request_post as $key => $mixed): 
        if ( ! is_array($mixed) )
          $mixed = [$mixed];

        foreach ($mixed as $value) :
      ?>
      <div <?php if ( ! $idx ) :?>id="div-request-post"<?php endif;?> class="form-group">
        <label for="txt-request-post" class="col-sm-2 control-label"><?php if ( ! $idx ) :?>Request Post<?php endif;?></label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="request_post_key[]" <?php if ( ! $idx ) :?>id="txt-request-post"<?php endif;?> placeholder="Key" value="<?php echo $key?>">
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="request_post_value[]" placeholder="Value" value="<?php echo $value?>">
        </div>
        <?php if ( ! $idx ) :?>
        <div class="col-sm-2">
          <a id="btn-add-request-post" class="btn btn-primary">Add One</a>
        </div>
        <?php endif;?>
      </div>
      <?php $idx++; endforeach;?>
      <?php endforeach;?>

      <div class="form-group">
        <label for="txt-response-status-code" class="col-sm-2 control-label">Response Status Code</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="txt-response-status-code" name="response_status_code" placeholder="200" value="<?php echo $response_status_code?>">
        </div>
      </div>
      <?php 
      $idx = 0;
      if (empty($response_header)) $response_header=[""=>""];
      foreach($response_header as $key => $mixed): 
        if ( ! is_array($mixed) )
          $mixed = [$mixed];

        foreach ($mixed as $value) :
      ?>
      <div <?php if ( ! $idx ) :?>id="div-response-header"<?php endif;?> class="form-group">
        <label for="txt-response-header" class="col-sm-2 control-label"><?php if ( ! $idx ) :?>Response Header<?php endif;?></label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="response_header_key[]" <?php if ( ! $idx ) :?>id="txt-response-header"<?php endif;?> placeholder="Key" value="<?php echo $key?>">
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="response_header_value[]" placeholder="Value" value="<?php echo $value?>">
        </div>
        <?php if ( ! $idx ) :?>
        <div class="col-sm-2">
          <a id="btn-add-response-header" class="btn btn-primary">Add One</a>
        </div>
        <?php endif;?>
      </div>
      <?php $idx++; endforeach;?>
      <?php endforeach;?>

      <div class="form-group">
        <label for="txt-response-body" class="col-sm-2 control-label">Response Body</label>
        <div class="col-sm-6">
          <textarea class="form-control" rows="4" id="txt-response-body" name="response_body" placeholder='Like: {"username": "jerry"}'><?php echo $response_body;?></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Save</button>
        </div>
      </div>
    </form>
</div>
<script src="/static/scripts/jquery.min.js"></script>
<script src="/static/scripts/bootstrap.min.js"></script>
<script src="/static/scripts/bootbox.min.js"></script>
<script type="text/javascript">
bootbox.loading = function() {
    return bootbox.dialog({
        closeButton: false,
        message: '<div class="progress progress-striped active" style="margin:0"><div class="progress-bar progress-bar-success" style="width:100%"></div></div>'
    });
}
jQuery("#btn-add-request-query").bind('click', function() {
    var $group = jQuery("<div />").addClass("form-group");
    var $input_key = jQuery('<input type="text" name="request_query_key[]" placeholder="Key" />').addClass("form-control");
    var $input_value = jQuery('<input type="text" name="request_query_value[]" placeholder="Value" />').addClass("form-control");
    $group.append( jQuery("<div />").addClass("col-sm-2") );
    $group.append( jQuery("<div />").addClass("col-sm-2").append($input_key) );
    $group.append( jQuery("<div />").addClass("col-sm-4").append($input_value) );
    jQuery("#div-request-query").after($group);
});

jQuery("#btn-add-request-post").bind('click', function() {
    var $group = jQuery("<div />").addClass("form-group");
    var $input_key = jQuery('<input type="text" name="request_post_key[]" placeholder="Key" />').addClass("form-control");
    var $input_value = jQuery('<input type="text" name="request_post_value[]" placeholder="Value" />').addClass("form-control");
    $group.append( jQuery("<div />").addClass("col-sm-2") );
    $group.append( jQuery("<div />").addClass("col-sm-2").append($input_key) );
    $group.append( jQuery("<div />").addClass("col-sm-4").append($input_value) );
    jQuery("#div-request-post").after($group);
});

jQuery("#btn-add-response-header").bind('click', function() {
    var $group = jQuery("<div />").addClass("form-group");
    var $input_key = jQuery('<input type="text" name="response_header_key[]" placeholder="Key" />').addClass("form-control");
    var $input_value = jQuery('<input type="text" name="response_header_value[]" placeholder="Value" />').addClass("form-control");
    $group.append( jQuery("<div />").addClass("col-sm-2") );
    $group.append( jQuery("<div />").addClass("col-sm-2").append($input_key) );
    $group.append( jQuery("<div />").addClass("col-sm-4").append($input_value) );
    jQuery("#div-response-header").after($group);
});
</script>
</body>
</html>
